<html>
  <head>
    <title>Item category (replace)</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('navbar.ejs') %> 
    <h3>Categories</h3>
    <div class="itemsWrapper">
      <% items.forEach(item => { %>
        <div class="itemCard">
          <%= item.cat_name %>
          <% const address = "/cat/" + item.cat_id %>
          <% const delCat = "/delcat/" + item.cat_id %>
          <% const updadd = "/updcat/" + item.cat_id %>
          
          <a href="<%= address %>" ><button>Details</button></a>
          <a href="<%= updadd %>" ><button>Update</button></a>
          <a href="<%= delCat %>" ><button>Delete</button></a>
        </div>
        <% }); %>
      </div>
    <a href="/newcat">Add New Category</a>
  </body>
</html>
