<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include("navbar.ejs") %>
    <h3><%= title %></h3>
    <div class="itemsWrapper">
      <% items.forEach(item => { %>
      <div class="itemCard">
        <%= item.part %>
        <% const address = "/item/" + item.id %>
        <a href=<%= address %> ><button>Details</button></a>
        <button>Delete</button>
      </div>
      <% }); %>
    </div>
    <a href="/newitem">Add New Item</a>
  </body>
</html>
