<html>
  <head>
    <title>Item title (replace)</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('navbar.ejs') %>
    <div class="itemCardLarge">
      <%= item.part %> <br />
      <%= item.price %> <br />
      <%= item.cat_name %> <br />
      <%= item.brand_name %> <br />
      <% const delAdd = '/delitem/' + item.id %>
      <% const update = "/upditem/" + item.id %>
      <a href=<%= update %> ><button>Update</button></a>
      <a href=<%= delAdd %> ><button>Delete</button></a>
    </div>
  </body>
</html>
